<div class='container'>
 <div class="card">
  <div class="card-header">
  <h1> Name: <%= @restaurant.name %> 
  </div>
  <div class="card-body">
  <p class="card-title">category: <%= @restaurant.category%></p>
  <p class="card-text">Phone: <%= @restaurant.phone_number%></p>
  <p class="card-text">Adress: <%= @restaurant.address%></p>
  <% @restaurant.reviews.each do |review| %>
      <li class="card-text list-group-item">Review:<%= review.content %></li>
      <li class="card-text list-group-item">Rating:<%= review.rating %></li>
    <% end %>

  <p type="button" class="btn btn-link"><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant)%></p>
<hr>
   <p type="button" class="btn btn-link"><%= link_to 'Back to restaurants', restaurants_path %></p>
 </div>
 </div>
</div>
